.movies-card-list {
  margin: 0 auto;
  padding: 70px 0 80px 0;
}

.movies-card-list__container {
  margin: 0 70px;
}

.movies-card-list__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  grid-column-gap: 24px;
  grid-row-gap: 30px;
}

.movies-card-list__btn-more {
  cursor: pointer;
  padding-top: 11px;
  padding-bottom: 9px;
  margin: 80px auto 0 auto;
  background: #2f2f2f;
  border-radius: 6px;
  border: none;
  border-radius: 6px;
  width: 100%;
  font-size: 12px;
  color: white;
}
