
.auth__form {
  max-width: 396px;
  padding: 70px 0 0;
  margin: 0 auto;
}
.auth__logo{
    text-align: left;
    margin-bottom: 40px;
}

.auth__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-align: center;
}

.auth__container {
  padding: 80px 0 157px;
}

.auth__container_signin {
  padding-bottom: 267px;
}

.auth__label {
  display: block;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
  margin-bottom: 20px;
  text-align: left;
}

.auth__label:last-of-type {
  margin-bottom: 0px;
}

.auth__input-title {
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
  margin: 0;
  padding: 0 0 10px;
}

.auth__input {
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  box-sizing: border-box;
  background-color: #2f2f2f;
  border-radius: 8px;
  border: none;
  padding: 15px;
  margin-top: 10px;
  outline: none;
}


.auth__input-invalid {
  color: #ee3465;
}

.error-text {
  display: inline-block;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  padding-top: 10px;
  text-align: left;
}

.auth__input-err_hidden {
  display: none;
}

.auth__submit-button {
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  background-color: #4285f4;
  border: none;
  border-radius: 3px;
  padding: 14px 0;
  cursor: pointer;
}

.auth__submit-button:disabled {
  background-color: #dddcdc;
  color: #8b8b8b;
  cursor: default;
}

.auth__text {
  font-size: 12px;
  line-height: 15px;
  color: #8b8b8b;
  padding: 14px 0 0;
  text-align: center;
  margin: 0;
}

.auth__link {
  font-size: 14px;
  line-height: 17px;
  color: #4285f4;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .auth__form {

    
  }

  .auth__title {
    text-align: left;
  }

  .auth__container {
    padding: 40px 0 69px;
  }

  .auth__container_signin {
    padding-bottom: 179px;
  }

  .auth__text {
    font-size: 14px;
    line-height: 17px;
    padding-top: 16px;
  }

  .auth__submit-button {
    font-size: 14px;
    line-height: 17px;
    padding: 13px 0 15px;
  }
}
.auth-no-display{
  display: none;
}